*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: #ffffff;
}
@media only screen and (max-width: 39.375em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 20em) {
  html {
    font-size: 37.5%;
  }
}

body {
  box-sizing: border-box;
  display: grid;
  justify-content: center;
}

.container {
  max-width: 100rem;
  padding: 3rem 4rem;
  display: grid;
  gap: 4rem;
}
@media only screen and (max-width: 39.375em) {
  .container {
    padding: 2rem 2rem;
    gap: 2rem;
  }
}

.section__2 {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
@media only screen and (max-width: 39.375em) {
  .section__2 {
    flex-direction: column-reverse;
    gap: 0;
  }
}

.footer {
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-family: montserrat;
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
  color: #828282;
}

.heading {
  font-family: Playfair Display;
  font-weight: 700;
}
.heading__1 {
  font-size: 4.8rem;
  line-height: 6.4rem;
  color: #000000;
}
@media only screen and (max-width: 39.375em) {
  .heading__1 {
    font-size: 3.8rem;
    line-height: 4.4rem;
  }
}
.heading__2 {
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: #333333;
}
.heading__3 {
  color: #333333;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-style: italic;
}

.paragraph__italic {
  font-family: Montserrat;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: italic;
  line-height: 1.7rem;
  color: #4f4f4f;
}

.paragraph {
  color: #333333;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem;
}
.paragraph span {
  font-weight: 700;
}

.header__name {
  margin-bottom: 1.2rem;
}
.header__icon {
  margin-top: 0.2rem;
  margin-right: 1rem;
}
.header__description {
  display: flex;
  align-items: start;
  max-width: 60rem;
  margin-bottom: 1.7rem;
}
.header__img {
  width: 100%;
}

.ingredients {
  display: grid;
  gap: 3.2rem;
  max-width: 60rem;
}
@media only screen and (max-width: 39.375em) {
  .ingredients {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
.ingredients .heading__3 {
  margin-bottom: 1.2rem;
}
.ingredients__list *:not(:last-child) {
  margin-bottom: 1rem;
}
.ingredients__list--item {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
  align-items: start;
}
.ingredients__list--checkbox {
  margin-top: 0.5rem;
  height: 1.7rem;
  min-width: 1.7rem;
}
@media only screen and (max-width: 39.375em) {
  .ingredients__list--checkbox {
    height: 2rem;
    min-width: 2rem;
  }
}

.overview {
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2);
  padding: 6rem 4rem 5rem 4rem;
  border-radius: 1rem;
  height: fit-content;
  display: grid;
  gap: 4rem;
}
@media only screen and (max-width: 39.375em) {
  .overview {
    box-shadow: none;
    padding: 0;
    border-radius: none;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin-bottom: 4rem;
  }
}
.overview .orange-item {
  color: #f2994a;
}
@media only screen and (max-width: 39.375em) {
  .overview .orange-item {
    grid-column: 1/4;
  }
}
.overview__icon {
  height: 2.5rem;
  width: 2.7rem;
  fill: #4f4f4f;
  margin: auto 0;
}
.overview__icon-orange {
  fill: #f2994a;
}
.overview__details {
  width: max-content;
}
.overview__item {
  display: flex;
  font-size: 1rem;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 1.2rem;
  gap: 1rem;
}
.overview__title {
  color: #bdbdbd;
  margin-bottom: 0.5rem;
}
.overview__inf {
  color: #333333;
  font-size: 1.4rem;
}

.instructions {
  max-width: 60rem;
}
.instructions *:not(:last-child) {
  margin-bottom: 2rem;
}
.instructions__list {
  list-style: none;
}
.instructions__item {
  display: flex;
  gap: 1.5rem;
}
.instructions__item .number-box {
  min-width: 3.6rem;
  height: 3.6rem;
  background-color: #f2994a;
  border-radius: 6px;
  color: #ffffff;
  font-size: 2.4rem;
  font-size: PlayfairDisplay;
  font-weight: 700;
  display: grid;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
