.container {
  max-width: 100rem;
  padding: 3rem 4rem;
  display: grid;
  gap: 5rem;
}

.section__2 {
  display: flex;
  justify-content: space-between;
}

.footer {
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-family: montserrat;
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
  color: #828282;
}
